﻿@model dynamic

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-primary pull-right" href="javascript:;" id="add_new_button">Add New</a>
    </div>
</div>
<br/>

<table id="customers_table">
    <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Of Birth</th>
        <th>Actions</th>
    </tr>
    </thead>
</table>


<div id="new_customer_modal" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Customer</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="customer_id"/>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="first_name"/>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="last_name"/>
                </div>
                <div class="form-group">
                    <label>Date Of Birth</label>
                    <input type="text" class="form-control" id="date_of_birth"/>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="save_customer_button">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      
    </div>
</div>


@section styles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    
}

@section scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            var table = $('#customers_table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '@Url.Action("GetCustomers")',
                    "type": 'POST'
                },
                "rowId": 'id',
                "columns": [
                    { "data": 'firstName' },
                    { "data": 'lastName' },
                    { "data": 'dateOfBirthString' },
                    {
                        "targets": -1,
                        "data": 'id',
                        "render": function(data, type, row, meta) {
                            return '<a data-id="' +
                                data +
                                '" class="btn btn-warning btn-xs edit-data-button" href="javascript:;"><i class="fa fa-pencil"></i> Edit</a>' +
                                '<a data-id="' +
                                data +
                                '" class="btn btn-danger btn-xs delete-data-button" href="javascript:;"><i class="fa fa-trash"></i> Delete</a>';
                        },
                        "orderable": false
                    }
                ],
                "order": [[1, 'asc']]
            });

            $(document).on('click',
                '#add_new_button',
                function(e) {
                    e.preventDefault();

                    $('#first_name').val('');
                    $('#last_name').val('');
                    $('#date_of_birth').val('');
                    $('#customer_id').val('0');

                    $('#new_customer_modal').modal();

                });

            $(document).on('click',
                '#save_customer_button',
                function(e) {
                    e.preventDefault();

                    var firstName = $('#first_name').val();
                    var lastName = $('#last_name').val();
                    var dateOfBirth = $('#date_of_birth').val();
                    var id = $('#customer_id').val();

                    var url = '';

                    if (id && id > 0) {
                        url = '@Url.Action("Edit")';
                    } else {
                        url = '@Url.Action("Create")';
                    }

                    $.ajax({
                        url: url,
                        type: 'post',
                        data: { firstName: firstName, lastName: lastName, dateOfBirth: dateOfBirth, id: id },
                        success: function(data) {

                            if (id && id > 0) {
                                table.row('#' + data.id).data(data).draw();
                            } else {
                                table.rows.add(data).draw();
                            }


                            $('#new_customer_modal').modal('hide');

                            $('#first_name').val('');
                            $('#last_name').val('');
                            $('#date_of_birth').val('');
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });


            $(document).on('click',
                '.edit-data-button',
                function(e) {
                    e.preventDefault();

                    var id = $(this).data('id');

                    $.ajax({
                        url: '@Url.Action("GetCustomer")/' + id,
                        type: 'get',
                        success: function(data) {

                            $('#first_name').val(data.firstName);
                            $('#last_name').val(data.lastName);
                            $('#date_of_birth').val(data.dateOfBirthString);
                            $('#customer_id').val(data.id);

                            $('#new_customer_modal').modal();
                        }
                    });
                });


            $(document).on('click',
                '.delete-data-button',
                function(e) {
                    e.preventDefault();

                    var id = $(this).data('id');

                    $.ajax({
                        url: '@Url.Action("Delete")/' + id,
                        type: 'get',
                        success: function() {
                            table.row('#' + id).remove().draw();
                        }
                    });
                });

        });

    </script>
}
